* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECEDEF;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
}




/* ------ ------ Head part ------ ------ */
.head-div {
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.hlink {
    margin: auto 5px;
    font-size: 22px;
    border-color: none;
    border-radius: none;
    color: rgb(108, 108, 108);
}

.hlink:hover {
    background-color: #ECEDEF;
    transition: 0.5s;
}

.links {
    display: flex;
    flex-direction: row;
}

header h1 {
    margin-right: 20px;
}



/* ------ ------ Main part ------ ------ */
.container {
    background-color: white;

    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    
}

.main-div {
    border-radius: 10px;
}

.index:hover {
    background-color: #ECEDEF;
    transition: 0.2s;
}




/* ------ ----- Footer part ----- ------ */
/* .footer-div {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
} */